= title do
  = "Login"
= description :textile do
  = "Have account? If not you can *%s*" % link_to(t('formtastic.actions.account.new'), new_account_path)
  
= content do
  = login_link(:facebook)
  
  %hr.top
  
  - semantic_form_for(@account_session, :url => account_session_path) do |f|
    - flash_form_error(f, true)
    
    - f.inputs do
      = f.input :login, :required => true, :hint => link_to('Not confirmed yet?', new_account_confirmation_path) # THis hin probably not wanted there
      = f.input :password, :required => true, :hint => link_to('Forgot your password?', new_account_password_path)
      = f.input :remember_me, :as => :boolean, :label => t('formtastic.labels.remember_me')
      
    - f.buttons do
      = submit_button(f, t('formtastic.actions.account_session.create'))
  