= title do
  Login
= description do
  Got no account?
  %strong= link_to 'Sign up', new_account_path
  
- semantic_form_for(@account_session, :url => account_session_path) do |f|
  - flash_form_error(f)
  
  - f.inputs do
    = f.input :login, :required => true, :label => 'E-mail', :hint => ''
    = f.input :password, :required => true, :label => 'Password', :hint => ''
    = f.input :remember_me, :as => :boolean
    
  - f.buttons do
    = f.commit_button 'Login', :button_html => {:disable_with => I18n.t('formtastic.processing')}
    
%ul.horizontal
  %li= link_to 'Forgot your password?', new_account_password_path
  %li= link_to 'Re-send confirmation instructions', new_account_confirmation_path