= title do
  Contact us
= description :textile do
  Got any, *questions*, *problems*, *suggestions*, or any *other issues*? Let us know, and we'll do our best to help you with this.

- semantic_form_for @contact_form_message, :url => contact_path do |f|
  - flash_form_error(f)
  
  - f.inputs do
    = f.input :issue_type, :as => :select, :collection => ContactFormMessage.issue_types, :include_blank => false
    = f.input :message, :required => true, :as => :text, :rows => 6, :cols => 24
    = f.input :email, :required => true
    = f.input :name
    = f.input :nickname, :wrapper_html => {:style => 'display:none;'}
    
  - f.buttons do
    = submit_button(f, 'Send')