- form.inputs do
  = form.input :first_name, :label => 'First name'
  = form.input :last_name, :label => 'Last name'
  = form.input :position, :label => 'Position'
  = form.input :email, :label => 'Email'
  = form.input :mobile, :label => 'Mobile'
  = form.input :phone, :label => 'Phone'
  = form.input :company, :label => 'Company'
