- content_tag_for(:tr, case, :class => cycle(:odd, :even)) do
  %td.name= h case.try(:name)
  %td.synopsis= h case.try(:synopsis)
  %td.instructions= h case.try(:instructions)
  %td.starting_at= h case.try(:starting_at)
  %td.ending_at= h case.try(:ending_at)
  %td.max_winners= h case.try(:max_winners)
  %td.winning_submission= h case.try(:winning_submission)
  %td.time_range= h case.try(:time_range)
  %td.category= h case.try(:category)
  %td.company= h case.try(:company)
  %td.actions
    = link_to 'Show', case_path(case)
    |
    = link_to 'Edit', edit_case_path(case)
    |
    = link_to 'Destroy', case, :confirm => 'Are you sure?', :method => :delete