- if @content_for_flash.present?
  #page_flash{:class => "#{'error' if @content_for_flash =~ /error/}"}
    .padding
      = yield :flash
    
- elsif flash[:error]
  #page_flash.error
    .padding
      %p.message= flash[:error]
    
- elsif flash[:warn]
  #page_flash.warn
    .padding
      %p.message= flash[:warn]
    
- elsif flash[:notice]
  #page_flash.notice
    .padding
      %p.message= flash[:notice]