= title do
  = "New password"
= description do
  = "Choose a new secure password for your account."
  
= content do
  - semantic_form_for(@account, :url => account_password_url, :html => {:method => :put}) do |f|
    - flash_form_error(f)
    
    - f.inputs do
      = f.input :perishable_token, :as => :hidden
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      
    - f.buttons do
      = submit_button(f, 'Update my password')
      
%ul.horizontal
  %li= link_to 'Login', new_account_session_path
  %li= link_to 'Sign up', new_account_path
  %li= link_to 'Forgot your password?', new_account_password_path
  %li= link_to 'Resend confirmation instructions', new_account_confirmation_path