= title do
  Reset password
= description do
  Enter the email address you used when creating your account. Then, hit the
  %strong "Send instructions"
  button and we will send you an email with instructions on how to reset your password.
  
- semantic_form_for(@account, :url => account_password_url, :html => {:method => :post}) do |f|
  - flash_form_error(f)
  
  - f.inputs do
    = f.input :email, :label => 'E-mail', :hint => 'The email address you used when creating your account.'
  
  - f.buttons do
    = f.commit_button 'Send me instructions', :button_html => {:disable_with => I18n.t('formtastic.processing')}
    
%ul.horizontal
  %li= link_to 'Cancel', :back