= title do
  Resend confirmation instructions
  
- semantic_form_for(@account, :url => account_confirmation_url, :html => {:method => :post}) do |f|
  - flash_form_error(f)
  
  - f.inputs do
    = f.input :email, :label => 'E-mail', :hint => ''
  
  - f.buttons do
    = f.commit_button 'Resend confirmation code'
    
%ul.horizontal
  %li= link_to 'Login', new_account_session_path
  %li= link_to 'Sign up', new_account_path
  %li= link_to 'Forgot your password?', new_account_password_path