= title do
  = "Resend confirmation instructions"
= description :textile do
  = "Enter the e-mail address you used when creating your account. Then, hit the *\"Resend confirmation code\"* button and we will send you an email with a new confirmation code."
  
= content do
  - semantic_form_for(@account, :url => account_confirmation_url, :html => {:method => :post}) do |f|
    - flash_form_error(f, true)
    
    - f.inputs do
      = f.input :email, :required => true, :hint => t('formtastic.hints.confirmable.email') # must be specified here explicit becuase it's still the Account model
    
    - f.buttons do
      = submit_button(f, t('formtastic.actions.confirmable.create'))
      
%ul.horizontal
  %li= link_to t('actions.cancel'), :back