= title do
  Resend confirmation instructions
= description do
  Enter the e-mail address you used when creating your account. Then, hit the
  %strong "Resend confirmation code"
  button and we will send you an email with a new confirmation code.
  
- semantic_form_for(@account, :url => account_confirmation_url, :html => {:method => :post}) do |f|
  - flash_form_error(f)
  
  - f.inputs do
    = f.input :email, :label => 'E-mail', :hint => 'The e-mail address you used when creating your account.'
  
  - f.buttons do
    = f.commit_button 'Resend confirmation code', :button_html => {:disable_with => I18n.t('formtastic.processing')}
    
%ul.horizontal
  %li= link_to 'Login', new_account_session_path
  %li= link_to 'Sign up', new_account_path
  %li= link_to 'Forgot your password?', new_account_password_path