!!! 1.1
%html{html_attributes(:xhtml)}
  %head
    = title_tag "#{Settings.site.name} | #{controller.controller_name}: #{controller.action_name}"
    = description_tag
    = keywords_tag
    
    = content_type_tag 'content-type', 'text/html;charset=UTF-8'
    = content_type_tag 'content-script-type', 'text/javascript'
    = content_type_tag 'content-style-type', 'text/css'
    
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print',  :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie',   :media => 'screen, projection'
      
    - # Disabled optimized alternative:google_javascripts :jquery, :jqueryui
    = sprockets_include_tag
    = yield :head
    
  %body{body_attributes}
    - # TODO: Move to own branch: facebook_connect_initializers if Settings.authentication.facebook_connect.enabled
    = development_toolbar unless Rails.env?(:production)
    
    #container
      #header
        .padding
          = render '/accounts/account_bar'
          
      = render '/shared/page_flash'
      
      #content
        .padding
          = yield
          
      = render '/shared/page_notice'
      
      #footer
        .padding
          = render '/shared/site_footer'
          
    = yield :foot