!!! 1.1
%html{html_attributes(:xhtml)}
  %head
    = meta_tag :title, "#{Settings.site.name} | #{controller.controller_name}: #{controller.action_name}"
    = meta_tag :description
    = meta_tag :keywords
    
    = content_type_tag :'content-type', 'text/html;charset=UTF-8'
    = content_type_tag :'content-script-type', 'text/javascript'
    = content_type_tag :'content-style-type', 'text/css'
    
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print',  :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie',   :media => 'screen, projection'
    = stylesheet_link_tag 'debug', :media => 'screen, projection' if debug_env?
    
    = sprockets_include_tag
    
    = yield :head
    
  %body{body_attributes}
    = debug_toolbar(:resources => true) if debug_env?
    = yield :debug if debug_env?
    
    #container
      #header
        .padding
          = render '/accounts/account_bar'
          
      = render '/shared/page_flash'
      
      #content
        .padding
          = yield
          
      = render '/shared/page_notice'
      
      #footer
        .padding
          = render '/shared/site_footer'
          
    = yield :foot