= h @current_account.email if @current_account
%ul.horizontal
  - if @current_account
    %li= link_to 'My account', account_path
    %li= logout_link(:standard)
  - else
    %li= link_to 'Home', root_path
    %li= login_link(:standard)
    %li= link_to 'Sign up', new_account_path