- if @current_account
  = h @current_account.email
  |
  = link_to 'My account', account_path
  |
  = link_to 'Logout', destroy_account_session_path
- else
  = link_to 'Home', root_path
  |
  = link_to 'Contact', new_contact_message_path
  |
  = link_to 'Login', new_account_session_path
  |
  = link_to 'Sign up', new_account_path