= title do
  = "Edit my account"
= description do
  = "Here you can manage your account settings."
  
= content do
  - semantic_form_for(@account, :url => account_path, :html => {:method => :put}) do |f|
    - flash_form_error(f, true)
    
    = render '/accounts/account_info_form', :f => f, :account => @account
    
    - f.buttons do
      = submit_button(f, t('formtastic.actions.account.update'))
      
%ul.horizontal
  %li= link_to t('actions.cancel'), session[:return_to] #:back
