= title do
  = "Edit my account"
= description do
  = "Here you can manage your account settings."
  
= content do
  - semantic_form_for(@account, :url => account_path) do |f|
    - flash_form_error(f, true)
      
    - f.inputs :title => :account_settings do
      = f.input :login
      = f.input :email, :required => true
      = # f.input :password, :required => false
      = # f.input :password_confirmation, :required => false
      
    - f.inputs :for => @account.profile, :title => :profile_settings do |p|
      - p.input :real_name
          
    - f.buttons do
      = submit_button(f, t('formtastic.actions.account.edit.submit'))
      
%ul.horizontal
  %li= link_to 'Cancel', :back
