= title do
  Edit my account
= description do
  Here you can manage your account settings.
  
- semantic_form_for(@account, :url => account_path) do |f|
  - flash_form_error(f)
    
  - f.inputs do
    = f.input :login, :label => 'Username', :hint => 'You unique username.'
    = f.input :email, :label => 'E-mail', :hint => 'If you change your e-mail, new confirmation instructions will be sent to your new e-mail.'
    = f.input :password, :required => false, :label => 'Password', :hint => 'If you want to change your password, fill in the new password here and confirm it below.'
    = f.input :password_confirmation, :required => false, :label => 'Confirm Password'
    
  - f.buttons do
    = f.commit_button 'Save changes', :button_html => {:disable_with => I18n.t('formtastic.processing')}
    
%ul.horizontal
  %li= link_to 'Cancel', :back
