= title do
  = "Sign up"
= description :textile do
  = "Create a new account. Already got an account? *%s*" % link_to('Login', new_account_session_path)
  
= content do
  = login_link(:facebook)
  
  %hr.top.thick
  
  - semantic_form_for(@account, :url => account_url) do |f|
    - flash_form_error(f)
    
    - f.inputs :title => :account_info do
      = f.input :email, :required => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      
    - f.buttons do
      = submit_button(f, t('formtastic.actions.account.new.submit'))
      
- content_for :page_notice do
  = succeed '.' do
    By clicking on "Create my account" above, you confirm that you accept the
    = link_to 'Terms of Use', terms_path
    and
    = link_to 'Privacy Policy', privacy_path