= title do
  Sign up
= description do
  Create a new account. Already got an account?
  %strong= link_to 'Login', new_account_session_path

- semantic_form_for(@account, :url => account_url) do |f|
  - flash_form_error(f)
  
  - f.inputs do
    = f.input :email, :required => true, :label => 'E-mail', :hint => 'Account confirmation instructions will be sent to this address.'
    = f.input :password, :required => true, :label => 'Password', :hint => ''
    = f.input :password_confirmation, :required => true, :label => 'Confirm Password', :hint => ''
    
  - f.buttons do
    = f.commit_button 'Create my account', :button_html => {:disable_with => I18n.t('formtastic.processing')}
    
- content_for :page_notice do
  = succeed '.' do
    By clicking on "Create my account" above, you confirm that you accept the
    = link_to 'Terms of Use', terms_path
    and
    = link_to 'Privacy Policy', privacy_path