= title do
  My account
= description do
  Your account details.
  
%dl
  %dt Username:
  %dd= h @account.login
  
  %dt E-mail:
  %dd= secure_mail_to(@account.email)
  
%ul.horizontal
  %li= link_to 'Edit', edit_account_path
  %li= link_to 'Delete', delete_account_path