= title do
  = "My account"
= description do
  = "Your account details."
  
= content do
  %dl
    %dt= "Username:"
    %dd= h @account.login || 'None'
    
    %dt= "Real Name:"
    %dd= h @account.profile.real_name || 'None'
    
    %dt= "E-mail:"
    %dd= secure_mail_to(@account.email) || 'None'
    
%ul.horizontal
  // TODO: helper: %li= action_link(:delete)
  %li= link_to t('actions.edit'), edit_account_path if permitted_to?(:edit, @account)
  %li= link_to t('actions.delete'), delete_account_path if permitted_to?(:delete, @account)