= title do
  My account
= description do
  My account details.
  
%dl
  %dt Username:
  %dd= h @account.login
  
  %dt Email:
  %dd= secure_mail_to(@account.email)
  
  %dt Confirmed?
  %dd= h @account.confirmed?
  
%ul.horizontal
  %li= link_to 'Edit', edit_account_path
  %li= link_to 'Delete', delete_account_path