= title do
  My account
= description ''
  
%dl
  %dt Email:
  %dd= h @account.email
  
  %dt Confirmed?
  %dd= h @account.confirmed?
  
%ul.horizontal
  %li= link_to 'Edit', edit_account_path
  %li= link_to 'Delete', delete_account_path